body{
    text-align:center;
    padding-top:200px;
    font-size:50px;
    background-image:url("https://img3.stockfresh.com/files/l/lapesnape/m/55/1329227_stock-photo-seamless-floral-pattern-background-with-flowers-and-leafs.jpg");
}